src/main/resources/xsd/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://localhost:8081/ws/person"
           elementFormDefault="qualified">

    <xs:element name="processPersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="processPersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>